{% extends "base.html" %}
{% block title %}
  Resetting password
{% endblock %}


{% block javascript %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block body_block %}
    {% if validlink %}
      <div class="box container">

        <p>Please enter your new password twice (so we can verify you typed it in correctly).</p>
        <form action="" method="post">
          <table>
            <tr>
              <td style="white-space: nowrap;">
                <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <label for="id_new_password1">New password:</label>
              </td>
              <td width="99%">
                {{ form.new_password1 }}
              </td>
              <td style="white-space; nowrap;">
                <pre>{{ form.new_password1.errors }}</pre>
              </td>
            </tr>
            <tr>
              <td style="white-space: nowrap;">
                <label for="id_new_password2">Confirm password: &nbsp;</label></td>
              </td>
              <td width="99%">
                {{ form.new_password2 }}
              </td>
              <td style="white-space; nowrap;">
                <pre>{{ form.new_password2.errors }}</pre>
              </td>

            </tr>
          <table>
          <input type="submit" value="Change my password" />
        </form>


    </div>


    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}
