<!-- navbar at the top of the page -->
<!-- this should be included in base.html -->
{% load templatetags %}
{% load staticfiles %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/base-navbar.css' %}">

<script>
  url_register = "{% url 'papers:register' %}"
  url_login = "{% url 'papers:user_login' %}"
  url_is_field_available = "{% url 'papers:is_field_available' %}"
</script>
<script src="{% static "/static/js/authentication.js" %}"></script>
<script src="{% static "/static/js/base.js" %}"></script>



<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href=".">journalClubDB</a>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <div class="span2"></div>
          <li class="{% if navbar == 'home' %}active{% endif %}"><a href="{% url 'papers:frontpage' %}">Home</a></li>
          <li class="{% if navbar == 'index' %}active{% endif %}"><a href="{% url 'papers:index' %}">Paper archive</a></li>
          <!-- only allow addition of citations if user -->
          {% if user.is_authenticated %}
            <li class="{% if navbar == 'addCitation' %}active{% endif %}"><a href="{% url 'papers:search' 0 %}">Import papers from pubmed</a></li> <!-- TODO: change this to real search -->
          {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Tell me about this website!</a></li>
              <li><a href="#">JCDB etiquette</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">About the developers</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
        </ul>
        <!-- navbar (right side)-->
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="dropdown {% if navbar == 'user_profile' %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}
                                                                                                                                  {% if user|reply_notifications|length != 0 %}
                                                                                                                                    <span class="bold-red">({{ user|reply_notifications|length }})</span>
                                                                                                                                  {% endif %}
                                                                                                                                  {% if number_of_post_reply_notifications %}
                                                                                                                                    <span class="bold-red">({{ number_of_post_reply_notifications }})</span>
                                                                                                                                  {% endif %}
                                                                                                                                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'papers:self_user_profile' %}">User Profile</a></li>
                <li><a href="{% url 'papers:user_posts' user.pk %}">Your Posts</a></li>
                <li><a href="{% url 'papers:user_library' %}">Your Library</a></li>
                <li><a href="{% url 'papers:user_notifications' %}">Notifications
                                                                    {% if user|reply_notifications|length != 0 %}
                                                                      <span class="bold-red">({{ user|reply_notifications|length }})</span>
                                                                    {% endif %}
                                                                    {% if number_of_post_reply_notifications %}
                                                                      <span class="bold-red">({{ number_of_post_reply_notifications }})</span>
                                                                    {% endif %}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a id="logout_button" href="{% url 'papers:user_logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
              <li class="active pointer"><a id="modal_item1" data-toggle="modal" data-target="#myModal">Register or log in</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
