<!-- This file contains the base template used for all web pages in papers app -->
<!-- useful bootstrap examples http://www.tutorialrepublic.com/twitter-bootstrap-examples.php -->
{% load templatetags %}

<html>
  <head>
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    <!-- used for login/registration modal.  TODO: move to separate file? -->
    <script>
      url_register = "{% url 'papers:register' %}"
      url_login = "{% url 'papers:user_login' %}"
      url_is_field_available = "{% url 'papers:is_field_available' %}"
    </script>
    <script src="{% static "/static/js/authentication.js" %}"></script>
    <script src="{% static "/static/js/base.js" %}"></script>

    {% block javascript %}{% endblock %}
  </head>

  <body>

  <!-- admin panel -->
  {% include "base-adminPanel.html" %}

  <!-- login modal -->
  {% include "base-loginInterface.html" %}


  <!-- creates container in center of the webpage -->
  {% include "base-navbar.html" %}

  <!-- main content -->
  <div>
    {% block body_block %}{% endblock %}
  </div>

  <!-- end webpage -->
  </body>
</html>
