<!-- navbar at the top of the page -->
<!-- this should be included in base.html -->
{% load templatetags %}
{% load staticfiles %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/base-navbar.css' %}">


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href=".">journalClubDB<sup class="color-green">BETA</sup></a>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <div class="span2"></div>
          <!-- home button -->
          <li class="{% if navbar == 'home' %}active{% endif %}"><a href="{% url 'papers:frontpage' %}">Home</a></li>

          <!-- search button -->
          <li class="dropdown {% if navbar == 'search' %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'papers:index' %}">Search JCDB</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'papers:search' 0 %}">Import papers from pubmed</a></li>
              {% else %}
                <li>
                  <a data-toggle="modal" data-target="#social-auth-modal" class="pointer activate-login-modal-import">
                    Import papers from pubmed
                  </a>
                </li>
              {% endif %}
            </ul>
          </li>
          <li class="dropdown {% if navbar == 'about' %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'papers:about_jcdb' %}">Tell me about this website!</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'papers:about_developers' %}">About the developers</a></li>
            </ul>
          </li>
        </ul>
        <!-- navbar (right side)-->
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="dropdown {% if navbar == 'user_profile' %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}
                                                                                                                                  {% if user|reply_notifications|length != 0 %}
                                                                                                                                    <span class="bold-red">({{ user|reply_notifications|length }})</span>
                                                                                                                                  {% endif %}
                                                                                                                                  {% if number_of_post_reply_notifications %}
                                                                                                                                    <span class="bold-red">({{ number_of_post_reply_notifications }})</span>
                                                                                                                                  {% endif %}
                                                                                                                                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'papers:self_user_profile' %}">User Profile</a></li>
                <li><a href="{% url 'papers:user_posts' user.pk %}">Your Posts</a></li>
                <li><a href="{% url 'papers:user_library' %}">Your Library</a></li>
                <li><a href="{% url 'papers:user_notifications' %}">Notifications
                                                                    {% if user|reply_notifications|length != 0 %}
                                                                      <span class="bold-red">({{ user|reply_notifications|length }})</span>
                                                                    {% endif %}
                                                                    {% if number_of_post_reply_notifications %}
                                                                      <span class="bold-red">({{ number_of_post_reply_notifications }})</span>
                                                                    {% endif %}
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a id="logout_button" href="{% url 'papers:user_logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
              <li class="active pointer"><a class="activate-login-modal-navbar" data-toggle="modal" data-target="#social-auth-modal">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
