<!-- this template contains html to display a single citation -->
{% load staticfiles %}
<script src="{% static "/static/js/citation_summary_template.js" %}"></script>
{% load templatetags %}

<div>
  <a id="citation-toggle-{{ citation.pk }}" class="list-group-item" data-toggle="collapse" data-target="#citation-item-{{ citation.pk }}" data-parent="#menu"> <!-- TODO: color this (active?) -->
    <h4 class="list-group-item-heading">{{ citation.title }}</h4>
    <p class="list-group-item-text">{{ citation.author|first_author }}</p>
    <p class="list-group-item-text">{{ citation.journal }}, {{ citation.date|citation_year }}</p>
  </a>
  <div id="citation-item-{{ citation.pk }}" class="citation-index-all sublinks collapse {% if forloop.counter == 1 %}in{% endif %}"> <!-- start with first entry not collapsed -->
    <a class="list-group-item small">{{ citation.abstract }}</a>

    {% if citation.tags.all|length != 0 %}
      <a class="list-group-item small">Tags:
      {% for tag in citation.tags.all %}
        <span class="label label-primary">{{ tag }}</span>
      {% endfor %}
      </a>
    {% endif %}
    <a class="list-group-item" href="{% url 'papers:detail' citation.pk  0 %}">
      <button type="button" class="btn btn-danger btn-xs">Click to discuss this paper!</button>
    </a>
  </div>
</div>
