{% load templatetags %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/post_tree_template.css' %}">

{% for p in posts %}
  {% if p|is_indent %}
    {% if p|is_depth_one %}
      <div class="vertical-spacer"></div>
      <div class="big-box-depth-is-one">
    {% elif p|is_depth_divisible_by_two %}
      <div class="big-box-depth-divisible-by-two">
    {% else %}
      <div class="vertical-spacer"></div>
      <div class="big-box-depth-not-divisible-by-two">
    {% endif %}
  {% elif p|is_dedent %}
    </div>
  {% else %}
    <div class="single-post">
      {% include "post_template.html" %}
    </div>
  {% endif %}

{% endfor %}
