<!-- this template contains html to display a user post -->
{% load templatetags %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/post_template.css' %}">
<script src="{% static "/static/js/post_template.js" %}"></script>
<script>
  csrf_js = '{{ csrf_token }}'
  url_upvote = "{% url 'papers:upvote' %}"
  url_downvote = "{% url 'papers:downvote' %}"
</script>

<div id="post-{{ p.pk }}">


<table>
<tbody>
<tr>

<!-- interface to vote up or down a comment -->
<td class="post-voting-interface">
  <div>
    {% if user.is_authenticated %}
      {% if p|post_upvoted_by_user:user.pk %}
        <input type="hidden" name="post_pk" value="{{ p.pk }}">
        <a id="up-{{ p.pk }}" class="upvoted-arrow" title="This answer is useful">up vote</a>
      {% else %}
        <input type="hidden" name="post_pk" value="{{ p.pk }}">
        <a id="up-{{ p.pk }}" class="up-arrow" title="This answer is useful">up vote</a>
      {% endif %}
    {% else %}
        <div class="active pointer" id="upvote-modal"><a id="up-{{ p.pk }}" class="up-arrow" id="modal_item1" data-toggle="modal" data-target="#myModal">up vote</a></div>
    {% endif %}


    {% if user.is_authenticated %}
      {% if p|post_downvoted_by_user:user.pk %}
        <input type="hidden" name="post_pk" value="{{ p.pk }}">
        <a id="down-{{ p.pk }}" class="downvoted-arrow" title="This answer is not useful">down vote</a>
      {% else %}
        <input type="hidden" name="post_pk" value="{{ p.pk }}">
        <a id="down-{{ p.pk }}" class="down-arrow" title="This answer is not useful">down vote</a>
      {% endif %}
    {% else %}
      <div class="active pointer" id="downvote-modal"><a id="down-{{ p.pk }}" class="down-arrow" id="modal_item1" data-toggle="modal" data-target="#myModal">down vote</a></div>
    {% endif %}
  </div>
</td>


  <!-- top bar containing username, points, time posted -->
<td class="answercell">
  <div>
    <span class="comment-user"><a href="{% url 'papers:user_posts' p.creator.pk %}">{{ p.creator.username }}</a></span>
    &nbsp; , &nbsp;
    <span id="commentscore-pk-{{ p.pk }}">{{ p.score }}</span> point{{p.score|pluralize}}
    &nbsp; , &nbsp;
    <span class="comment-time" id="comment-time-{{ p.pk }}">
      {% if p.get_undecoded_textTupleVector|length == 1 %}
        posted
      {% else %}
        edited
      {% endif %}
      {{ p.time_created|age }}
    </span>
  </div>
  <hr >

  <!-- middle box containing post content. javascript used to switch between edits -->
  <div>
    {% for recent_post in p.get_undecoded_textTupleVector %}
      <div id="comment-text-{{ p.pk }}-{{ forloop.counter }}" class="comment-target-all-{{ p.pk }} comment-all {% if forloop.last %} comment-last {% endif %}">
        {{ recent_post.0 | safe}} <!-- text -->
      </div>
    {% endfor %}
  </div>
  <hr >


  <!-- bottom bar containing reply, edit history -->
  <div>
    {% if user.is_authenticated %}
      <!-- reply button -->
      <span>
        <a class='hyperlink-submit-form'>reply</a> &nbsp; &nbsp; &nbsp;
        <form class="inline" id='formData' action="{% url 'papers:postForm' %}" method=POST>
          {% csrf_token %}
          <input type="hidden" name="citation" value="{{ p.thread.owner.title }}" />
          <input type="hidden" name="citation_pk" value="{{ p.thread.owner.pk }}" />
          <input type="hidden" name="thread_title" value="{{ p.thread.title }}" />
          <input type="hidden" name="thread_description" value="{{ p.thread.description }}" />
          <input type="hidden" name="thread_pk" value="{{ p.thread.pk }}" />
          <input type="hidden" name="isReplyToPost" value="1" />
          <input type="hidden" name="mother_pk" value="{{ p.pk }}" />
          <!--  <input type="hidden" name="current_thread" value="{{ forloop.parentloop.counter }}" /> -->
          <input type="hidden" name="initial_text" value="{% with p.get_undecoded_textTupleVector|last as recent_post %}
                                                            {{ recent_post.0 }}
                                                          {% endwith %}
                                                          "/>
          <input type="hidden" name="blockquote" value="True" />
          <input type="hidden" name="post_pk" value="-1" />
          <input type="hidden" name="edit_or_reply" value="reply" />
        </form>
      </span>

      <!-- allow for editing if user created post TODO: security flaw: check user/post identical in view-->
      {% if user.get_username == p.creator.username %}
        <!-- edit button -->
        <span>
          <a class='hyperlink-submit-form'>edit</a> &nbsp; &nbsp; &nbsp;
          <form class="inline" id='formData' action="{% url 'papers:postForm' %}" method=POST>
            {% csrf_token %}
            <input type="hidden" name="citation" value="{{ p.thread.owner.title }}" />
            <input type="hidden" name="citation_pk" value="{{ p.thread.owner.pk }}" />
            <input type="hidden" name="thread_title" value="{{ p.thread.title }}" />
            <input type="hidden" name="thread_description" value="{{ p.thread.description }}" />
            <input type="hidden" name="thread_pk" value="{{ p.thread.pk }}" />
            <input type="hidden" name="isReplyToPost" value="1" />
            <input type="hidden" name="mother_pk" value="{{ p.pk }}" />
            <!--  <input type="hidden" name="current_thread" value="{{ forloop.parentloop.counter }}" /> -->
            <input type="hidden" name="initial_text" value="{% with p.get_undecoded_textTupleVector|last as recent_post %}
                                                              {{ recent_post.0 }}
                                                            {% endwith %}
                                                            "/>
            <input type="hidden" name="blockquote" value="False" />
            <input type="hidden" name="post_pk" value="{{ p.pk }}" />
            <input type="hidden" name="edit_or_reply" value="edit" />
          </form>
        </span>
      {% endif %}

    <!-- if user is not authenticated -->
    {% else %}
      <span>
        <span class="active pointer" id="reply-modal"><a id="modal_item1" data-toggle="modal" data-target="#myModal">reply</a>  &nbsp; &nbsp; &nbsp; </span>
      </span>

    {% endif %}
    <!-- dropdown to select post history -->
    <span>
      <span class="dropdown">
           <a data-toggle="dropdown" class="dropdown-toggle">history <b class="caret"></b></a> &nbsp; &nbsp; &nbsp;
           <ul class="dropdown-menu">
             {% for recent_post in p.get_undecoded_textTupleVector %}
               <li class="li-dropdown-{{p.pk}} li-dropdown-{{p.pk}}-{{forloop.counter}} {% if forloop.last %} active {% endif %}"><a id="action-{{ p.pk }}-{{ forloop.counter }}" >
                 {% if recent_post.3 != p.creator.username %}
                   recent_post.3
                 {% endif %}
                 {% if forloop.counter == 1 %}
                   posted
                 {% else %}
                   edited
                 {% endif %}
                 {{ recent_post.2|age }}
               </a></li> <!-- time created/edited -->
             {% endfor %}
           </ul>
       </span>
    </span>

    <span>
      <a href="{% url 'papers:post_context' p.pk %}">context</a>
    </span>

  </div>
</td>


</tr>
</tbody>
</table>

</div>
