
.color-red {
  color: red !important;
}

.color-white {
  color: white !important;
}
.color-black {
  color: black !important;
}

.hyperlink-submit-form {
  cursor: pointer;
}

.float-right {
    float: right;
}

body {
    background-color: black;
    padding-top: 70px;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}
