/* This is the background used for a single post in in isolation */
.single-post-background {
  padding-right: 2.5em;
  padding-left: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: white;
  border-radius: 25px;
}
.center-content {
  text-align:center;
  position:relative;
}


/* Auto resizing of avatars in posts and personal messages. */
/* Change sizing to suit your own preferences. */
.post-wrapper img {
   height: auto;
   width: auto;
   max-height: 300px;
   max-width: 300px;
}


.color-grey {
  color: #9D9D9D !important;
}

.color-red {
  color: red !important;
}

.color-green {
  color: green !important;
}

.color-white {
  color: white !important;
}
.background-color-white {
  background-color: white !important;
}
.background-color-grey {
  background-color: #f5f5f5 !important;
}
.background-color-yellow {
  background-color: #ffc !important;
}

.color-black {
  color: black !important;
}

.hyperlink-submit-form {
  cursor: pointer;
}

.float-right {
    float: right;
}

.height100 {
  height:100%
}

body {
    background-color: black;
    padding-top: 70px;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.bold {
  font-weight: bold;
}
