.spacer {
  height: 20px;
}

.post_template form {
  display: inline-block;
}


.bs-example {
  box-sizing: border-box;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.bootstrap-tagsinput > input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}

.dropdown-menu li.active > a,
.dropdown-menu li.active > a:hover,
.dropdown-menu li.active > a:focus {
  color: #fff;
  background-color: #b91773;
  border-color: #fff;
}


.bold-red {
    color: red;
    font-weight: bold;
}

.red-tooltip {
    color: red;
    vertical-align: middle;
}
.red-tooltip + .tooltip > .tooltip-inner {
  background-color: red;
  font-size: 14px;
  width: 1000px;
}


.modal-dialog {
  width: 700
}


body {
    background-color: pink;
}

.navbar-brand {
  margin-right: 1.5em;
}

#indexPagebar {
  background-color: yellow;
  margin-top: 0px;
}

#detail_jumbotron h1 {
    font-size: 2em;
}

#detail_jumbotron p {
    font-size: 0.9em;
    margin-bottom: 0px;
}

#detail_jumbotron #detail_abstract {
    font-size: 1.1em;
}


.vote-up-off {
  text-indent: -9999em;
  font-size: 1px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-position: 0 -170px;
  width: 32px;
  height: 33px;
  background-image: url('http://cdn.sstatic.net/scifi/img/sprites.png?v=130c4bfceca0');
  background-repeat: no-repeat;
  overflow: hidden;
}

.votecell .vote-count-post {
  color: #435963 !important;
  line-height: 16px !important;
  padding: 9px 0 !important;
  font-size: 22px;
  display: block;
  text-align: center;

}

.vote-down-off {
  text-indent: -9999em;
  font-size: 1px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background-position: 0 -220px;
  margin-bottom: 5px;
  width: 32px;
  height: 33px;
  background-image: url('http://cdn.sstatic.net/scifi/img/sprites.png?v=130c4bfceca0');
  background-repeat: no-repeat;
  overflow: hidden;
}

table {
  border-spacing: 100px;
}

.answercell {
  padding-left: 10px;
}

.big-box-depth-divisible-by-two {
  border: 20px solid white;
  background-color: white;
  padding-left: 40px;
}

.big-box-depth-is-one {
  border: 20px solid grey;
  background-color: grey;
  padding-left: 40px;
}

.big-box-depth-not-divisible-by-two {
  border: 20px solid grey;
  background-color: grey;
  padding-left: 40px;
}


.vertical-spacer {
  height: 10px;
}

.user_comments_header {
  background-color: yellow;
}

.submit {
  cursor: pointer;
}

.modal_item {
  cursor: pointer;
}

#login-title {
  font-size: 20px;
}

.single-post {
  margin-left:-40px
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 0.9em;
}
