
#summary_jumbotron h1 {
    font-size: 2em;
}
#summary_jumbotron p {
    font-size: 0.9em;
    margin-bottom: 0px;
}
#summary_jumbotron #abstract {
    font-size: 1.1em;
}


.discussion_jumbotron h1{
  font-size: 1.5em;
}
.discussion_jumbotron p {
    font-size: 0.9em;
    margin-bottom: 0px;
}
.discussion_jumbotron {
    padding-top: 1px;
    padding-bottom: 48px;
}


.big-box-depth-divisible-by-two * {
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  transform:scale(0.9);
}

.big-box-depth-not-divisible-by-two * {
  -webkit-transform:scale(0.9);
  -moz-transform:scale(0.9);
  -ms-transform:scale(0.9);
  transform:scale(0.9);
}
