.user_comments_header {
  background-color: yellow;
}

#detail_jumbotron h1 {
    font-size: 2em;
}

#detail_jumbotron p {
    font-size: 0.9em;
    margin-bottom: 0px;
}

#detail_jumbotron #detail_abstract {
    font-size: 1.1em;
}
