
/* These are font sizes used in the "Summary" box of detail.html */
#summary-title {
    font-size: 2em;
}
#summary-author, #summary-source {
    font-size: 1em;
    margin-bottom: 0px;
}
#summary-abstract {
    font-size: 1.1em;
}
#summary-tags {
  font-size: 1em;
}

/* This is the grey box where tab content is placed */
.detail-tab-box {
    padding-top: 1px;
    padding-bottom: 20px;
    min-height: 40em;
    background-color: #F5F5F5;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 10px;
}
.detail-tab-box h1 {
  font-size: 1.5em;
}
.detail-tab-box hr {
  height: 1px;
  color: #123455;
  background-color: #123455;
  border: none;
}

/* Reply boxes have smaller font
.big-box-depth-divisible-by-two .post-top-box * {
    line-height: 1em !important;
    font-size: 11px !important;
}
.big-box-depth-divisible-by-two .post-middle-box * {
  line-height: 1em !important;
  font-size: 11px !important;
}
.big-box-depth-divisible-by-two .post-bottom-box * {
  line-height: 1em;
  font-size: 11px;
}

/* make all replies embedded in grey background
.big-box-depth-not-divisible-by-two {
  border: 0px !important;
  background-color: #F5F5F5 !important;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
*/
