.big-box-depth-is-one-tempaaa {
  border: 1px solid white;
  background-color: white;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.big-box-depth-divisible-by-two-tempaaa {
  border: 1px solid grey;
  background-color: #F5F5F5;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.big-box-depth-not-divisible-by-two-tempaaa {
  border: 1px solid white;
  background-color: white;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.single-post-tempaaa {
  margin-left:-30px
}

.vertical-spacer-tempaaa {
  height: 10px;
}
