{% extends "base.html" %}

{% block javascript %}
{% endblock %}

{% block title %}
  About the developers
{% endblock %}


<!-- webpage main content -->
{% block body_block %}
  <div class="container single-post-background background-color-grey">
    <h2 class="center-content">About the developers</h2>
    <br />
    <div class="single-post-background background-color-white">
      <h4>Michael Chiang</h4>
      <p>
        Click <a>here</a> for website.
      </p>
      <p>
        Click <a>here</a> for CV
      </p>
    </div>
  </div>
{% endblock %}
