{% extends "base.html" %}

{% block javascript %}
  {% load staticfiles %}
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script src="{% static 'js/ckeditor/samples/js/sample.js' %}"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block body_block %}
  <!-- custom javascript -->
  {% load staticfiles %}
  <script>
    csrf_js = '{{ csrf_token }}'
    url_upvote = "{% url 'papers:upvote' %}"
    url_downvote = "{% url 'papers:downvote' %}"
  </script>
  <script src="{% static "/static/js/detail.js" %}"></script>

  <hr >
  <div class="container">
    <!-- tab bar -->
    <ul class="nav nav-pills nav-justified">
      <li {% if current_thread == 0 %} class="active" {% endif %}> <a data-toggle="pill" href="#thread_0">Summary</a></li>
      {% for thread in threads %}
        <li {% if current_thread == forloop.counter %} class="active" {% endif %}><a data-toggle="pill" href="#thread_{{ forloop.counter }}">{{ thread.title }}</a></li>
      {% endfor %}
    </ul>

    <div class="tab-content">


      <!-- Content for summary jumbotron -->
      <div id="thread_0" {% if current_thread == 0 %} class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %}>
        <div id="detail_jumbotron" class="jumbotron">
          <p><a class="btn btn-primary btn-tiny" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ citation.pubmedID }}" role="button">pubmed link &raquo;</a></p>
          <h1>{{ citation.title }}</h1>
          <hr >
          {% load templatetags %} <!-- templatetags cannot be moved to base.html -->
          <p>{{ citation.fullAuthorNames|parse_full_names }}</p>
          <p>{{ citation.fullSource }} </p>
          <hr >
          <p id="detail_abstract"> {{ citation.abstract }} </p>
          <hr >
          <p>Tags: </p>
        </div>
      </div>

      <!-- message board tabs (ELI5, methodology, etc) -->
      {% for thread,posts,numDepth1Posts in threadsPostsIndents %}
        <div id="thread_{{ forloop.counter }}" {% if current_thread == forloop.counter %} class="tab-pane fade in active" {% else %} class="tab-pane fade" {% endif %}>
          <div class="user_comments">
            <!-- Display number of depth 1 comments, and link for user to submit their own comment -->
            <div class="user_comments_header">
              <h2> {{ numDepth1Posts }} comments </h2>
              <a class='submit'>Add your own comment!</a>
              <form id='formData' action="{% url 'papers:postForm' %}" method=POST>
                {% csrf_token %}
                <input type="hidden" name="citation" value="{{ citation.title }}" />
                <input type="hidden" name="citation_pk" value="{{ citation.pk }}" />
                <input type="hidden" name="thread_title" value="{{ thread.title }}" />
                <input type="hidden" name="thread_description" value="{{ thread.description }}" />
                <input type="hidden" name="thread_pk" value="{{ thread.pk }}" />
                <input type="hidden" name="isReplyToPost" value="0" />
                <input type="hidden" name="mother_pk" value="-1" />
                <input type="hidden" name="current_thread" value="{{ forloop.counter }}" />
              </form>
            </div>

          {% for p in posts %}
            {% if p|is_indent %}
              {% if p|is_depth_one %}
                <div class="vertical-spacer"></div>
                <div class="big-box-depth-is-one">
              {% elif p|is_depth_divisible_by_two %}
                <div class="vertical-spacer"></div>
                <div class="big-box-depth-divisible-by-two">
              {% else %}
                <div class="vertical-spacer"></div>
                <div class="big-box-depth-not-divisible-by-two">
              {% endif %}
            {% elif p|is_dedent %}
              </div>
            {% else %}
              <div id="post_{{ p.pk }}" class="single-post">
                <table>
                  <tbody>
                    <tr>
                      <!-- interface to vote up or down a comment -->
                      <td class="votecell">
                        <div class="vote">
                          <input type="hidden" name="post_pk" value="{{ p.pk }}">
                          <a class="vote-up-off" title="This answer is useful" value="{{ p.pk }}">up vote</a>
                          <span itemprop="upvoteCount" class="vote-count-post ">{{ p.score }}</span>
                          <a class="vote-down-off" title="This answer is not useful">down vote</a>
                        </div>
                      </td>
                      <!-- user commment -->
                      <td class="answercell">
                        {{ p.text|safe }}
                        <a class='submit'>reply</a>
                        <form id='formData' action="{% url 'papers:postForm' %}" method=POST>
                          {% csrf_token %}
                          <input type="hidden" name="citation" value="{{ citation.title }}" />
                          <input type="hidden" name="citation_pk" value="{{ citation.pk }}" />
                          <input type="hidden" name="thread_title" value="{{ thread.title }}" />
                          <input type="hidden" name="thread_description" value="{{ thread.description }}" />
                          <input type="hidden" name="thread_pk" value="{{ thread.pk }}" />
                          <input type="hidden" name="isReplyToPost" value="1" />
                          <input type="hidden" name="mother_pk" value="{{ p.pk }}" />
                          <input type="hidden" name="current_thread" value="{{ forloop.parentloop.counter }}" />
                        </form>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div> <!-- end div id="post_{{ p.pk }}" -->
            {% endif %}


          {% endfor %} <!-- end loop over posts -->

        </div> <!-- end div id="thread_{{ forloop.counter }}" class="tab-pane fade" -->
        </div> <!-- not sure what this corresponds to -->
      {% endfor %} <!-- end loop over threadsPostsIndents -->
    </div> <!-- end div tab-content -->


{% endblock %}
