{% extends "base.html" %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor/samples/js/sample.js' %}"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block body_block %}

<!-- custom javascript -->
{% load staticfiles %}
<script>
  url_js = "{% url 'papers:updownvote' %}"
  csrf_js = '{{ csrf_token }}'
</script>
<script src="{% static "/static/js/detail.js" %}"></script>

<hr >
<div class="container">
  <!-- tab bar -->
  <ul class="nav nav-pills nav-justified">
      <li class="active"> <a data-toggle="pill" href="#pubmed_data">Summary</a></li>
      {% for thread in threads %}
      <li><a data-toggle="pill" href="#t_{{ forloop.counter }}">{{ thread.description }}</a></li>
      {% endfor %}
  </ul>

  <!-- tab content -->
  <div class="tab-content">
      <!-- pubmed data -->
      <div id="pubmed_data" class="tab-pane fade in active">
          <!-- jumbotron -->
          <div id="detail_jumbotron" class="jumbotron">
            <p><a class="btn btn-primary btn-tiny" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ citation.pubmedID }}" role="button">pubmed link &raquo;</a></p>
              <h1>{{ citation.title }}</h1>
              <hr >
              {% load templatetags %} <!-- templatetags cannot be moved to base.html -->
              <p>{{ citation.fullAuthorNames|parse_full_names }}</p>
              <p>{{ citation.fullSource }} </p>
              <hr >
              <p id="detail_abstract"> {{ citation.abstract }} </p>
              <hr >
              <p>Tags: </p>
          </div>
      </div>
      <!-- message boards -->
      {% for thread,posts in threadsPostsvector %}
        <div id="t_{{ forloop.counter }}" class="tab-pane fade">
          <div class="discussion_background">
          {% if posts|length == 0 %}
            <p>No posts!</p>
          {% else %}
            {% for p in posts %}
              <div>
              <form method='post' id="vote_up_{{ thread.pk }}_{{ p.pk }}">
                {% csrf_token %}
                <!-- white space for tree -->
                {% load templatetags %}
                {% for i in p.node_depth|get_range %}
                  {% if i != 0 %}
                    ........
                  {% endif %}
                {% endfor %} <!-- end loop over p.node_depth|get_range -->
                <input type='submit' id="voteb_up_{{ thread.pk }}_{{ p.pk }}" value='Upvote'/>
              </form>
              <form method='post' id="vote_down_{{ thread.pk }}_{{ p.pk }}">
              {% csrf_token %}
              <!-- white space for tree -->
              {% load templatetags %}
              {% for i in p.node_depth|get_range %}
                {% if i != 0 %}
                  ........
                {% endif %}
              {% endfor %}
              <input type='submit' id="voteb_down_{{ thread.pk }}_{{ p.pk }}" value='Downvote'/>
              </form>
              <div>
              {{ p.text|safe }}
              </div>

              <!-- white space for tree -->
              {% load templatetags %}
              {% for i in p.node_depth|get_range %}
                {% if i != 0 %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}
              {% endfor %}
              <button id="reply_{{ thread.pk }}_{{ p.pk }}">Reply</button>
              </div>
              <!-- This form (initially hidden until reply button is clicked) submits a reply to a given post -->
              <div id="replybox_{{ thread.pk }}_{{ p.pk }}" style="display: none;">
                <form action="{% url 'papers:addPost' %}" method=POST>
                  {% load templatetags %}
                  {% for i in p.node_depth|get_range %}
                    {% if i != 0 %}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                  {% endfor %}
                  {% csrf_token %}
                  <input type="text" value="" name="text">
                  <input type="hidden" name="isReplyToPost" value="1" />
                  <input type="hidden" name="thread_pk" value="{{ thread.pk }}" />
                  <input type="hidden" name="mother_pk" value="{{ p.pk }}" />
                  <input type="hidden" name="citationPk" value="{{ citation.pk }}" />
                  <input type="submit">
                </form>
              </div>
            {% endfor %} <!-- end loop over posts -->
          {% endif %} <!-- end if statement checking for empty forum -->



                  <!-- This form submits a new (non-reply) post to the thread -->
                  <!--
                  <div>
                  <form role="form" action="{% url 'papers:addPost' %}" method=POST>
                    {% csrf_token %}
                    <input type="hidden" name="isReplyToPost" value="0" />
                    <input type="hidden" name="thread_pk" value="{{ thread.pk }}" />
                    <input type="hidden" name="mother_pk" value="-1" />
                    <input type="hidden" name="citationPk" value="{{ citation.pk }}" />
                    <div class="form-group">
                      <label for="comment">Comment:</label>
                      <textarea class="form-control" rows="10" id="comment" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  </div>
                -->
                <!--
                <textarea cols="10" id="editor1" name="editor1" rows="10" >&lt;p&gt; &lt;i&gt; Explain like I'm five   &lt;/i&gt;  &lt;/p&gt;
                -->
                <div>
                <form role="form" action="{% url 'papers:addPost' %}" method=POST>
                  {% csrf_token %}
                  <input type="hidden" name="isReplyToPost" value="0" />
                  <input type="hidden" name="thread_pk" value="{{ thread.pk }}" />
                  <input type="hidden" name="mother_pk" value="-1" />
                  <input type="hidden" name="citationPk" value="{{ citation.pk }}" />

                  <textarea cols="10" id="editor{{ thread.pk }}" name="text" rows="10" >&lt;p&gt; &lt;i&gt; {{ thread.pk }}   &lt;/i&gt;  &lt;/p&gt;
                  </textarea>
                  <script>
                  	CKEDITOR.replace( 'editor{{ thread.pk }}', {
                  		extraPlugins: 'mathjax',
                  		mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
                  		height: 320
                  	} );
                  	if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
                	  	document.getElementById( 'ie8-warning' ).className = 'tip alert';
                	  }
                  </script>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                </div>



          </div>
        </div>

      {% endfor %}
  </div>








{% endblock %}
