{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->




{% block javascript %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/frontpage.css' %}">
{% endblock %}


{% block title %}
  JournalClubDB (JCDB)
{% endblock %}

{% block body_block %}

  {% if paperOfTheWeek_citation != 0 %}

    <div class="wrap-vert">

        <div id="paper-highlight-background" class="inner">

          <div class="wrap">
            <div class="inner">
              <div id="paper-highlight-text">
                <h2 class="color-white">Paper Highlight</h2>
                <h1 class="color-white">{{ paperOfTheWeek_citation.title }}</h1>
                <p class="color-white">{{ paperOfTheWeek_citation.author|first_author }}</p>
                <p class="color-white">{{ paperOfTheWeek_citation.journal }}, {{ paperOfTheWeek_citation.date|citation_year }}</p>
                <br>
                <a href="{% url 'papers:detail' paperOfTheWeek_citation.pk 0 %}">
                  <button type="button" class="btn btn-primary btn-m">Discuss this paper!</button>
                </a>
                <a href="{% url 'papers:paperOfTheWeek_list' %}">
                  <button type="button" class="btn btn-primary btn-m">See past highlights</button>
                </a>
            </div>

            </div>
          </div>

        </div>


      </div>
    </div>




  <!--


  <div class="outer">
    <div class="middle">
      <div id="paper-highlight-background" class="inner">




              <div id="paper-highlight-text" >

          <h3>Paper of the Week<sup><a href="{% url 'papers:detail' paperOfTheWeek_citation.pk 0 %}">Click to discuss this paper!</a></sup></h3>
          <h2>{{ paperOfTheWeek_citation.title }}</h2>
          <p>{{ paperOfTheWeek_citation.author|first_author }}</p>
          <p>{{ paperOfTheWeek_citation.journal }}, {{ paperOfTheWeek_citation.date|citation_year }}</p>

          <a href="{% url 'papers:paperOfTheWeek_list' %}">
            <button type="button" class="btn btn-danger btn-m">See past Papers of the Week</button>
          </a>

            </div>




      </div>
    </div>
  </div>
-->







  {% endif %}


{% endblock %}
