{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->

<!-- webpage main content -->
{% block body_block %}
{% load staticfiles %}
<script src="{% static "/static/js/index.js" %}"></script>

{% if citations %}

<div class="panel list-group">
  {% for citation in citations %}

  <!-- single citation entry -->
  <a href="#" id="citation-toggle-{{ citation.pk }}" class="list-group-item" data-toggle="collapse" data-target="#citation-item-{{ citation.pk }}" data-parent="#menu"> <!-- TODO: color this (active?) -->
    <h4 class="list-group-item-heading">{{ citation.title }}</h4>
    <p class="list-group-item-text">{{ citation.author|first_author }}</p>
    <p class="list-group-item-text">{{ citation.journal }}, {{ citation.date|citation_year }}</p>
  </a>
  <div id="citation-item-{{ citation.pk }}" class="citation-index-all sublinks collapse">
    <a class="list-group-item small">{{ citation.abstract }}</a>
    <a class="list-group-item small">Tags:
    {% for tag in citation.tags.all %}
      <span class="label label-primary">{{ tag }}</span>
    {% endfor %}
    </a>
    <a class="list-group-item" href="{% url 'papers:detail' citation.pk  0 %}">
      <button type="button" class="btn btn-danger btn-xs">Click to discuss this paper!</button>
    </a>
  </div>

  {% endfor %}

  </div>

  <!-- page bar -->
  <div class="col-md-2 col-md-offset-5">
      <ul id="indexPagebar" class="pagination">
          <!-- decrement page -->
          <li>
          {% if active_page == 1 %}
          <a href="{% url 'papers:index' %}?page=1">&laquo;</a>
          {% else %}
          <a href="{% url 'papers:index' %}?page={{ active_page|decrement }}">&laquo;</a>
          {% endif %}
          </li>
          <!-- page enumeration -->
          {% for page in num_pages|get_range %}
            <li {% if active_page == page|increment %} class="active" {% endif %}>
            <a href="{% url 'papers:index' %}?page={{ page|increment }}">{{ page|increment }}</a></li>
          {% endfor %}
          <!-- increment page-->
          <li>
          {% if active_page == num_pages %}
          <a href="{% url 'papers:index' %}?page={{ num_pages }}">&raquo;</a>
          {% else %}
          <a href="{% url 'papers:index' %}?page={{ active_page|increment }}">&raquo;</a>
          {% endif %}
          </li>
      </ul>
  </div>

{% endif %}
{% endblock %}
