{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->

<!-- webpage main content -->
{% block body_block %}
{% if citations %}

<div class="panel list-group">
  {% for citation in citations %}

  <!-- single citation entry -->
  <a href="#" class="list-group-item" data-toggle="collapse" data-target="#dropDown{{ citation.pk }}" data-parent="#menu"> <!-- TODO: color this (active?) -->
    <h4 class="list-group-item-heading">{{ citation.title }}</h4>
    <p class="list-group-item-text">{{ citation.author|first_author }}</p>
    <p class="list-group-item-text">{{ citation.journal }}, {{ citation.date|citation_year }}</p>
  </a>
  <div id="dropDown{{ citation.pk }}" class="sublinks collapse">
    <a class="list-group-item small">{{ citation.abstract }}</a>
    <a class="list-group-item small">Tags: </a>
    <a class="list-group-item small" href="{% url 'papers:detail' citation.pk %}">Click to discuss this paper!</a>
  </div>
  {% endfor %}

  </div>

  <!-- page bar -->
  <div class="col-md-2 col-md-offset-5">
      <ul id="indexPagebar" class="pagination">
          <!-- decrement page -->
          <li>
          {% if active_page == 1 %}
          <a href="{% url 'papers:index' %}?page=1">&laquo;</a>
          {% else %}
          <a href="{% url 'papers:index' %}?page={{ active_page|decrement }}">&laquo;</a>
          {% endif %}
          </li>
          <!-- page enumeration -->
          {% for page in num_pages|get_range %}
            <li {% if active_page == page|increment %} class="active" {% endif %}>
            <a href="{% url 'papers:index' %}?page={{ page|increment }}">{{ page|increment }}</a></li>
          {% endfor %}
          <!-- increment page-->
          <li>
          {% if active_page == num_pages %}
          <a href="{% url 'papers:index' %}?page={{ num_pages }}">&raquo;</a>
          {% else %}
          <a href="{% url 'papers:index' %}?page={{ active_page|increment }}">&raquo;</a>
          {% endif %}
          </li>
      </ul>
  </div>

{% endif %}
{% endblock %}
