{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->

{% block javascript %}
  {% load staticfiles %}
  <script src="{% static "/static/js/citation_summary_template.js" %}"></script>
{% endblock %}

{% block title %}
  List of all papers
{% endblock %}


<!-- webpage main content -->
{% block body_block %}

{% if citations %}

<div class="container">

  <div>



  {% for citation in citations %}
    <div>
      {% include "citation_summary_template.html" %}
    </div>
    <br>
  {% endfor %}

  </div>

</div>

{% endif %}
{% endblock %}
