{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->

{% block javascript %}
{% endblock %}

{% block title %}
  Past Papers of the Week
{% endblock %}

{% block body_block %}

  <!-- list of Papers of the week -->
  {% for paperOfTheWeekInfo in paperOfTheWeekInfo_list %}
    <li>
      <a href="{% url 'papers:detail' paperOfTheWeekInfo.citation.pk 0 %}"><b>{{ paperOfTheWeekInfo.citation.author|first_author }} ({{ paperOfTheWeekInfo.citation.date|citation_year }})</b></a>
      , <i>{{ paperOfTheWeekInfo.citation.title }}</i></li>
  {% endfor %}



{% endblock %}
