{% extends "base.html" %}

{% block javascript %}
  {% load staticfiles %}
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block body_block %}



<div id="postform-container" class="height100 container">

  <div id="postform-header">
    {% if edit_or_reply == "edit" or edit_or_reply == "add" %}
      <h2 class="color-white">{{ citation }}</h2>
      <h4 class="color-grey">{{ thread_title }} - {{ thread_description }}</h4>
    {% elif edit_or_reply == "reply" %}
      <h4 class="color-grey">
        <a type="button" href="{% url 'papers:post_single' mother_pk %}" target="_blank" class="btn btn-lg btn-danger">Click to read post you are replying to</a>
      </h4>
    {% endif %}
  </div>

<div>
  <form role="form" action="{% url 'papers:addPost' %}" method=POST>
    <!-- POST data -->
    {% csrf_token %}
    <input type="hidden" name="isReplyToPost" value="{{ isReplyToPost }}" />
    <input type="hidden" name="thread_pk" value="{{ thread_pk }}" />
    <input type="hidden" name="mother_pk" value="{{ mother_pk }}" />
    <input type="hidden" name="citation_pk" value="{{ citation_pk }}" />
    <input type="hidden" name="current_thread" value="{{ current_thread }}" />
    <input type="hidden" name="post_pk" value="{{ post_pk }}" />
    <input type="hidden" name="edit_or_reply" value="{{ edit_or_reply }}" />

    <!-- WYSIWYG text editor -->
    <textarea cols="10" id="editor{{ thread.pk }}" name="text" rows="10" style="display:none;"></textarea>
    <!-- submit button -->
    <script>
    	CKEDITOR.replace( 'editor{{ thread.pk }}', {
    		extraPlugins: 'mathjax,justify', // put 'mathjax,devtools' if you want to know editor IDs
    		mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
        height: $("#postform-container").height() - $("#postform-header").height() - CKEDITOR.config.height
    	} );

      var e = CKEDITOR.instances.editor{{ thread.pk }};
      {% if edit_or_reply == "edit" %}
        e.setData("{{ initial_text|safe }}")
      {% endif %}

      CKEDITOR.on( 'dialogDefinition', function( ev )
         {
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;
            ev.data.definition.resizable = CKEDITOR.DIALOG_RESIZE_NONE;
            if ( dialogName == 'link' ) {
               var infoTab = dialogDefinition.getContents( 'info' );
               infoTab.remove( 'protocol' );
               dialogDefinition.removeContents( 'target' );
               dialogDefinition.removeContents( 'advanced' );
               // Set the default value for the URL field.
               //var urlField = infoTab.get( 'url' );
               //urlField[ 'default' ] = 'www.example.com';
            }
            if ( dialogName == 'image' ) {
              // dialogDefinition.removeContents( 'Link' ); // This is taken care of in config.js
              // dialogDefinition.removeContents( 'advanced' );
              var infoTab = dialogDefinition.getContents( 'info' );
              infoTab.remove( 'txtAlt' );
              infoTab.remove( 'txtWidth' );
              infoTab.remove( 'txtHeight' );
              infoTab.remove( 'txtBorder' );
              infoTab.remove( 'txtHSpace' );
              infoTab.remove( 'txtVSpace' );
              infoTab.remove( 'cmbAlign' );
              infoTab.remove( 'htmlPreview' );
              infoTab.remove( 'ratioLock' );
            }


         });


    </script>
    <button type="submit" class="btn btn-primary">Submit your post. Don't be afraid, you can always edit your post later!</button>
  </form>
</div>
</div>

{% endblock %}
