{% extends "base.html" %}

{% block javascript %}
{% load staticfiles %}
<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor/samples/js/sample.js' %}"></script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block body_block %}

<!-- custom javascript -->
{% load staticfiles %}
<script>
  csrf_js = '{{ csrf_token }}'
  url_upvote = "{% url 'papers:upvote' %}"
  url_downvote = "{% url 'papers:downvote' %}"
</script>
<script src="{% static "/static/js/detail.js" %}"></script>

<div>
<h2>{{ citation }}</h2>
<h4>{{ thread_title }} - {{ thread_description }}</h4>
</div>

<div>
  <form role="form" action="{% url 'papers:addPost' %}" method=POST>
    <!-- POST data -->
    {% csrf_token %}
    <input type="hidden" name="isReplyToPost" value="{{ isReplyToPost }}" />
    <input type="hidden" name="thread_pk" value="{{ thread_pk }}" />
    <input type="hidden" name="mother_pk" value="{{ mother_pk }}" />
    <input type="hidden" name="citation_pk" value="{{ citation_pk }}" />
    <input type="hidden" name="current_thread" value="{{ current_thread }}" />

    <!-- WYSIWYG text editor -->
    <textarea cols="10" id="editor{{ thread.pk }}" name="text" rows="10" ></textarea>
    <script>
    	CKEDITOR.replace( 'editor{{ thread.pk }}', {
    		extraPlugins: 'mathjax',
    		mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
    		height: 320
    	} );
    	if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
  	  	document.getElementById( 'ie8-warning' ).className = 'tip alert';
  	  }
      var initial_text = "asdf"
      //CKEDITOR.instances.editor{{ thread.pk }}.setData(initial_text);
      var e = CKEDITOR.instances.editor{{ thread.pk }};
      e.setData("{{ initial_text|safe }}")

    </script>

    <!-- submit button -->
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}
