{% extends "base.html" %}

{% block javascript %}
  {% load staticfiles %}
  <script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block body_block %}



<div id="postform-container" class="height100 container">

  <div id="postform-header">
      <h2 class="color-white">{{ citation }}</h2>
      <h4 class="color-grey">{{ thread_title }} - {{ thread_description }}</h4>
  </div>

<div>
  <form role="form" action="{% url 'papers:addPost' %}" method=POST>
    <!-- POST data -->
    {% csrf_token %}
    <input type="hidden" name="isReplyToPost" value="{{ isReplyToPost }}" />
    <input type="hidden" name="thread_pk" value="{{ thread_pk }}" />
    <input type="hidden" name="mother_pk" value="{{ mother_pk }}" />
    <input type="hidden" name="citation_pk" value="{{ citation_pk }}" />
    <input type="hidden" name="current_thread" value="{{ current_thread }}" />
    <input type="hidden" name="post_pk" value="{{ post_pk }}" />
    <input type="hidden" name="edit_or_reply" value="{{ edit_or_reply }}" />

    <!-- WYSIWYG text editor -->
    <textarea cols="10" id="editor{{ thread.pk }}" name="text" rows="10" style="display:none;"></textarea>
    <!-- submit button -->
    <script>
    	CKEDITOR.replace( 'editor{{ thread.pk }}', {
    		extraPlugins: 'mathjax',
    		mathJaxLib: 'http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML',
        height: $("#postform-container").height() - $("#postform-header").height() - CKEDITOR.config.height
    	} );
      var e = CKEDITOR.instances.editor{{ thread.pk }};
      e.setData("{{ initial_text|safe }}")
    </script>
    <button type="submit" class="btn btn-primary">Submit your post</button>


  </form>
</div>
</div>

{% endblock %}
