{% extends "base.html" %}
{% load templatetags %} <!-- templatetags cannot be moved to base.html -->

{% block javascript %}
  {% load staticfiles %}
{% endblock %}

{% block body_block %}
  <div class="container">
    <h1 class="color-white">Post context</h1>
    <a href="{% url 'papers:detail' post.thread.owner.pk post.thread.order %}#post-{{ post.pk }}" class="pointer"><h4 class="color-grey">Posted in <i>{{ post.thread.owner }}</i></h4></a>
    <hr />
    {% include "post_tree_template_condensed.html" %}
  </div>
{% endblock %}
