
<form action="{% url 'papers:search' 1 %}" method=POST>
  {% csrf_token %}
  <input type="text" {% if search_str != None %}
                        value="{{ search_str }}"
                     {% endif %}
                     name="search_str"><input type="submit">
</form>

{% if posts != None %}
<h1>Search Results</h1>
{% for entry in posts %}
  <li>
    <p>{{ entry.title }}</p>
    <p>
      {% for author in entry.author %}
        {% if forloop.last %}
          and {{ author }}
        {% else %}
          {{ author }},
        {% endif %}
      {% endfor %}
    </p>
    <p>{{ entry.fullSource }}</p>
    <p>http://www.ncbi.nlm.nih.gov/pubmed/{{ entry.pubmedID }}
  </li>
{% endfor %}



<!-- Next/Prev page links  -->
{% for page in posts.paginator.page_range %}
  {% if page == posts.number %}
    {{ page }}
  {% else %}
    <form action="{% url 'papers:search' page %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="search_str" value="{{ search_str }}" />
        <button>{{ page }}</button>
    </form>
  {% endif %}
{% endfor %}

{% endif %}
