
<form action="{% url 'papers:search' 1 %}" method=POST>
  {% csrf_token %}
  <input type="text" value="{{ search_str }}" name="search_str">
  <input type="hidden" name="searchInitiated" value="True" />
  <input type="submit">
</form>

{% if freshSearch == False %}
<h1>Search Results</h1>
{% for entry in entries %}
  <li>
    <!-- button to add pubmed citation to internal database-->
    <form action="{% url 'papers:addCitation' %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ entry.title }}"/>
        <input type="hidden" name="author" value="{{ entry.author }}"/>
        <input type="hidden" name="journal" value="{{ entry.journal }}"/>
        <input type="hidden" name="volume" value="{{ entry.volume }}"/>
        <input type="hidden" name="number" value="{{ entry.number }}"/>
        <input type="hidden" name="pages" value="{{ entry.pages }}"/>
        <input type="hidden" name="date" value="{{ entry.date }}"/>
        <input type="hidden" name="fullSource" value="{{ entry.fullSource }}"/>
        <input type="hidden" name="keywords" value="{{ entry.keywords }}"/>
        <input type="hidden" name="abstract" value="{{ entry.abstract }}"/>
        <input type="hidden" name="doi" value="{{ entry.doi }}"/>
        <input type="hidden" name="fullAuthorNames" value="{{ entry.fullAuthorNames }}"/>
        <input type="hidden" name="pubmedID" value="{{ entry.pubmedID }}"/>
        <button>Add</button>
    </form>
    <!-- title with pubmed link -->
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ entry.pubmedID }}">{{ entry.title }}</a></p>
    <!-- author list -->
    <p>
      {% for author in entry.author %}
        {% if forloop.last %}
          and {{ author }}
        {% else %}
          {{ author }},
        {% endif %}
      {% endfor %}
    </p>
    <!-- journal information -->
    <p>{{ entry.fullCite }}</p>
  </li>
{% endfor %}

<!-- Next/Prev page links  -->
{% for page in totalPagesRange %}
  {% if page == pageNumber %}
    {{ page }}
  {% else %}
    <form action="{% url 'papers:search' page %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="search_str" value="{{ search_str }}" />
        <input type="hidden" name="pageNumber" value="{{ page }}" />
        <input type="hidden" name="totalPages" value="{{ totalPages }}"/>
        <button>{{ page }}</button>
    </form>
  {% endif %}
{% endfor %}

{% endif %}
