<!-- serve javascript -->
<head>
  {% load staticfiles %}
  <script src="{% static "/static/js/jquery-2.1.4.min.js" %}"></script>
  <script>
    url_js = "{% url 'papers:addCitation' %}"
    csrf_js = '{{ csrf_token }}'
  </script>
  <script src="{% static "/static/js/ajax.js" %}"></script>
</head>

<!-- navigation bar.  Move to template -->
<a href="{% url 'papers:index' %}">Index</a>

<!-- Search bar -->
<form action="{% url 'papers:search' 1 %}" method=POST>
  {% csrf_token %}
  <input type="text" value="{{ search_str }}" name="search_str">
  <input type="hidden" name="searchInitiated" value="True" />
  <input type="submit">
</form>

{% if freshSearch == False %}
<h1>Search Results</h1>
{% for entry in entries %}
  <li>
    <!-- button to add pubmed citation to internal database-->
    <form method='post' id="f_{{ forloop.counter }}">
       {% csrf_token %}
       <input type="hidden" id="title_{{ forloop.counter }}" value="{{ entry.title }}"/>
       <input type="hidden" id="author_{{ forloop.counter }}" value="{{ entry.author }}"/>
       <input type="hidden" id="journal_{{ forloop.counter }}" value="{{ entry.journal }}"/>
       <input type="hidden" id="volume_{{ forloop.counter }}" value="{{ entry.volume }}"/>
       <input type="hidden" id="number_{{ forloop.counter }}" value="{{ entry.number }}"/>
       <input type="hidden" id="pages_{{ forloop.counter }}" value="{{ entry.pages }}"/>
       <input type="hidden" id="date_{{ forloop.counter }}" value="{{ entry.date }}"/>
       <input type="hidden" id="fullSource_{{ forloop.counter }}" value="{{ entry.fullSource }}"/>
       <input type="hidden" id="keywords_{{ forloop.counter }}" value="{{ entry.keywords }}"/>
       <input type="hidden" id="abstract_{{ forloop.counter }}" value="{{ entry.abstract }}"/>
       <input type="hidden" id="doi_{{ forloop.counter }}" value="{{ entry.doi }}"/>
       <input type="hidden" id="fullAuthorNames_{{ forloop.counter }}" value="{{ entry.fullAuthorNames }}"/>
       <input type="hidden" id="pubmedID_{{ forloop.counter }}" value="{{ entry.pubmedID }}"/>
       <input type='submit' id="s_{{ forloop.counter }}" value='Import'/>
    </form>

    <!-- title with pubmed link -->
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ entry.pubmedID }}">{{ entry.title }}</a></p>
    <!-- author list -->
    <p>
      {% for author in entry.author %}
        {% if forloop.last %}
          and {{ author }}
        {% else %}
          {{ author }},
        {% endif %}
      {% endfor %}
    </p>
    <!-- journal information -->
    <p>{{ entry.fullSource }}</p>
  </li>
{% endfor %}

<!-- Next/Prev page links  -->
{% for page in totalPagesRange %}
  {% if page == pageNumber %}
    {{ page }}
  {% else %}
    <form action="{% url 'papers:search' page %}" method=POST>
        {% csrf_token %}
        <input type="hidden" name="search_str" value="{{ search_str }}" />
        <input type="hidden" name="pageNumber" value="{{ page }}" />
        <input type="hidden" name="totalPages" value="{{ totalPages }}"/>
        <button>{{ page }}</button>
    </form>
  {% endif %}
{% endfor %}
{% endif %}
